@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* CSS Document */
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(233, 47%, 7%);
}


main {
	width: 1110px;
	height: 446px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

main>div {
	height: inherit;
}

#info {
	width: 570px;
	border-radius: 8px 0px 0px 8px;
	background-color: hsl(244, 38%, 16%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 51px 0px 0px 72px;
}

#info-head {
	width: 403px;
}

h1 {
	height: 88px;
	font: 700 36px/44px 'Inter';
	margin: 0px;
	color: white;
}

#info-text {
	height: 75px;
	width: 374px;
	font: 400 15px/25px 'Inter';
	color: hsla(0, 0%, 100%, 0.75);
	margin-top: 45px;
}

#info-stats {
	display: flex;
	flex-direction: row;
	height: 56px;
	margin-top: 72px;
}

#info-stats>div {
	height: inherit;
	font-family: 'Inter';
	text-align: left;
}

#stats-templates {
	margin: 0px 63px 0px 63px;
}

#image {
	width: 540px;
	border-radius: 0px 8px 8px 0px;
	overflow: hidden;
	background: url("../images/image-header-desktop.jpg") no-repeat center;
}

#image-color {
	width: inherit;
	height: inherit;
	background-color: #AB5CDB;
	mix-blend-mode: multiply;
}

.amount {
	color: white;
	font-weight: 700;
	font-size: 24px;
}

.stats-headings {
	color: hsla(0, 0%, 100%, 0.6);
	letter-spacing: 1px;
	font: 400 12px/25px 'Lexend Deca';
}


/*######################## MOBILE VERSION ########################*/


@media screen and (max-width: 480px) {

	main {
		width: 327px;
		height: 780px;
		flex-direction: column-reverse;
	}

	main>div {
		height: inherit;
	}

	#info {
		width: 327px;
		border-radius: 0px 0px 8px 8px;
		flex-direction: column;
		align-items: center;
		padding: 40px 0px 0px 0px;
	}

	#info-head {
		width: 264px;
		text-align: center;
	}

	h1 {
		height: 96px;
		font: 700 28px/32px 'Inter';
	}

	#info-text {
		height: 100px;
		width: 264px;
		margin-top: 16px;
		text-align: center;
	}

	#info-stats {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 216px;
		margin-top: 40px;
	}

	#info-stats>div {
		height: 56px;
		text-align: center;
	}

	#stats-templates {
		margin: 0px;
	}

	#image {
		width: 327px;
		height: 350px;
		border-radius: 8px 8px 0px 0px;
		background: url("../images/image-header-mobile.jpg") center/327px no-repeat;
	}

	.stats-headings {
		margin-top: 2px;
	}

}