@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* CSS Document */
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(233, 47%, 7%);
}


main {
	width: 1110px;
	height: 446px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

main>div {
	height: inherit;
}

#info {
	width: 555px;
	border-radius: 8px 0px 0px 8px;
	background-color: hsl(244, 38%, 16%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 72px;
}

#info-head{
	margin-top: 51px;
	width: 403px;
}

h1 {
	height: 88px;
	font: 700 36px/44px 'Inter';
	margin: 0px;
	color: white;
}

#info-text {
	height: 75px;
	width: 374px;
	font: 400 15px/25px 'Inter';
	color: hsla(0, 0%, 100%, 0.75);
	margin-top: 45px;
}

#info-stats {
	display: flex;
	flex-direction: row;
	height: 56px;
	margin-top: 72px;
}

#info-stats>div {
	height: inherit;
	font-family: 'Inter';
	text-align: left;
}

#stats-templates {
	margin: 0px 63px 0px 63px;
}

#image {
	width: 540px;
	border-radius: 0px 8px 8px 0px;
	overflow: hidden;
	background: url("../images/image-header-desktop.jpg") no-repeat center;
}

#image-color {
	width: inherit;
	height: inherit;
	background-color: hsl(277, 64%, 61%);
	mix-blend-mode: multiply;
}

.amount {
	color: white;
	font-weight: 700;
	font-size: 24px;
}

.stats-headings {
	color: hsla(0, 0%, 100%, 0.6);
	letter-spacing: 1px;
	font: 400 12px/25px 'Lexend Deca';
}


/*######################## MOBILE VERSION ########################*/


@media screen and (max-width: 480px) {

	#main {
		width: 330px;
		height: 780px;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
	}

	#main>div {
		width: 330px;
	}

	#image {
		height: 240px;
		border-radius: 5px 5px 0px 0px;
		background: url("../images/image-header-mobile.jpg") no-repeat;
		background-position: top;
		background-size: contain;
	}

	#image-color {
		height: 242px;
		border-radius: 5px 5px 0px 0px;
	}

	#info {
		height: 540px;
		border-radius: 0px 0px 5px 5px;
		background-color: hsl(244, 38%, 16%);
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#info>div {
		margin-left: auto;
		margin-right: auto;
		width: 260px;
	}

	#info-head {
		height: 95px;
		font-size: 28px;
		text-align: center;
		line-height: 31px;
		margin-top: 45px;
	}

	#info-text {
		height: 90px;
		font-size: 15px;
		text-align: center;
		line-height: 22px;
		margin-top: 15px;

	}

	#info-stats {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 253px;
		margin-top: 40px;
	}

	#info-stats>div {
		width: inherit;
		text-align: center;
		margin-bottom: 30px;
	}

	.amount {
		font-size: 23px;
	}

	.stats-headings {
		font-size: 13px;
	}

}